USE [master]
GO
/****** Object:  Database [VanChuyenBarg]    Script Date: 24/02/2017 10:10:05 p.m. ******/
CREATE DATABASE [VanChuyenBarg]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VanChuyenBarg', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\VanChuyenBarg.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'VanChuyenBarg_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\VanChuyenBarg_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VanChuyenBarg].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VanChuyenBarg]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 24/02/2017 10:10:05 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[DiaChiDon] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
	[LoaiXe] [int] NULL,
	[ThoiDiemDat] [datetime] NULL,
	[TinhTrang] [nvarchar](50) NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([id], [HoTen], [SDT], [DiaChiDon], [GhiChu], [LoaiXe], [ThoiDiemDat], [TinhTrang]) VALUES (1, N'Tuệ Xinh Đẹp', N'01699952101', N'abc', N'asdfasdf', 1, NULL, N'Đã xử lý')
INSERT [dbo].[KhachHang] ([id], [HoTen], [SDT], [DiaChiDon], [GhiChu], [LoaiXe], [ThoiDiemDat], [TinhTrang]) VALUES (2, N'ntttue', N'0123', N'gsgsdfg', N'sdfgsdg', 2, NULL, N'Chưa xử lý')
INSERT [dbo].[KhachHang] ([id], [HoTen], [SDT], [DiaChiDon], [GhiChu], [LoaiXe], [ThoiDiemDat], [TinhTrang]) VALUES (3, N'abc', N'123', N'123', N'123', 3, NULL, N'123')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
USE [master]
GO
